*.zip
*.fst
*.jpg
*.txt
!The Adventures of Sherlock Holmes, by Arthur Conan Doyle.txt
!Around the World in 80 Days, by Jules Verne.txt
!evaluation_set8.txt
!prediction_world_level.txt
!prediction_unigram.txt
!prediction_20rnd.txt
*.tar
*.gz
/Lab_01/aclImdb
/Pre_Lab_01/openfst-1.6.1
/Pre_Lab_02/kaldi-master
!/Pre_Lab_02/kaldi-master/egs/usc
/Pre_Lab_02/slp_lab2_data
*.bin
*.doc
*.docx
